<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldmigrator type="OneNorth.FieldMigrator.Configuration.FieldMigratorConfiguration, OneNorth.FieldMigrator">
      <sourceEndpointAddress>http://sidley/sitecore/shell/webservice/service2.asmx</sourceEndpointAddress>
      <sourceDatabase>master</sourceDatabase>
      <sourceUserName>sitecore\admin</sourceUserName>
      <sourcePassword>b</sourcePassword>
      <targetDatabase>master</targetDatabase>
      <targetUserName>sitecore\admin</targetUserName>
      <roots hint="raw:AddRoot">
        <!--<root name="Offices" id="{420087BC-717C-4178-B5ED-4C652153E75A}" />-->
        <root name="Professionals" id="{B47F2DB2-835E-4444-BD03-0A45617CEBB4}" />
      </roots>
      <mediaItemTemplateIds hint="list:AddMediaItemTemplateId">
        <unversioned-audio>{D56DB3AA-7373-4651-837E-8D3977A0B544}</unversioned-audio>
        <unversioned-doc>{16692733-9A61-45E6-B0D4-4C0C06F8DD3C}</unversioned-doc>
        <unversioned-document>{777F0C76-D712-46EA-9F40-371ACDA18A1C}</unversioned-document>
        <unversioned-docx>{7BB0411F-50CD-4C21-AD8F-1FCDE7C3AFFE}</unversioned-docx>
        <unversioned-file>{962B53C4-F93B-4DF9-9821-415C867B8903}</unversioned-file>
        <unversioned-flash>{9867C0B9-A7BE-4D96-AD7E-4AD18109ED20}</unversioned-flash>
        <unversioned-image>{F1828A2C-7E5D-4BBD-98CA-320474871548}</unversioned-image>
        <unversioned-jpeg>{DAF085E8-602E-43A6-8299-038FF171349F}</unversioned-jpeg>
        <unversioned-movie>{E76ADBDF-87D1-4FCB-BA71-274F7DBF5670}</unversioned-movie>
        <unversioned-mp3>{B60424A5-CE06-4C2E-9F49-A6D732F55D4B}</unversioned-mp3>
        <unversioned-pdf>{0603F166-35B8-469F-8123-E8D87BEDC171}</unversioned-pdf>
        <unversioned-zip>{4F4A3A3B-239F-4988-98E1-DA3779749CBC}</unversioned-zip>
        <versioned-audio>{E19A2758-F802-4FDC-B497-5FF7B3BAC54B}</versioned-audio>
        <versioned-doc>{3DB3A3CA-A0A9-4228-994B-F70C8E99A1CE}</versioned-doc>
        <versioned-document>{2A130D0C-A2A9-4443-B418-917F857BF6C9}</versioned-document>
        <versioned-docx>{F57FB07D-332A-4934-AA67-0A629C5396E2}</versioned-docx>
        <versioned-file>{611933AC-CE0C-4DDC-9683-F830232DB150}</versioned-file>
        <versioned-flash>{2E16714D-8406-4445-98B7-CD70F658611B}</versioned-flash>
        <versioned-image>{C97BA923-8009-4858-BDD5-D8BE5FCCECF7}</versioned-image>
        <versioned-jpeg>{EB3FB96C-D56B-4AC9-97F8-F07B24BB9BF7}</versioned-jpeg>
        <versioned-movie>{374D3A99-C098-4CD2-8FBC-DC2D1CA1C904}</versioned-movie>
        <versioned-mp3>{2449F96D-620E-4E8A-A3E0-D354F78BBD73}</versioned-mp3>
        <versioned-pdf>{CC80011D-8EAE-4BFC-84F1-67ECD0223E9E}</versioned-pdf>
        <versioned-zip>{1743421C-0D7F-4870-9F7B-70E6F0B63308}</versioned-zip>
      </mediaItemTemplateIds>
    </fieldmigrator>
    <pipelines>
      <group groupName="OneNorth.Migrator">
        <pipelines>
          <migrateItem>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.CheckItemTemplate, OneNorth.FieldMigrator">
              <includeMedia>true</includeMedia>
              <include hint="raw:AddInclude">
                <template name="Office" sourceTemplateId="{C82727A4-5BA4-42CC-B06C-7AA17DD25044}" includeAllDescendants="true" />
                <template name="Lawyer" sourceTemplateId="{EDC84A99-541A-4544-B408-D276600C66F0}" includeAllDescendants="true" />
                <template name="Staff" sourceTemplateId="{0C275F5D-7873-44C8-AC00-A1CA8082B5F6}" includeAllDescendants="true" />
                <template name="ProfessionalFolder" sourceTemplateId="{70EE9EE9-D950-43AF-BDBF-A0EA4DAA598D}" includeAllDescendants="false" />
              </include>
              <exclude hint="raw:AddExclude">
                <template name="name" sourceTemplateId="{00000000-0000-0000-0000-000000000000}" />
              </exclude>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.EnsureItem, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceItemId="{00000000-0000-0000-0000-000000000000}" targetItemId="{00000000-0000-0000-0000-000000000000}" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.MigrateLatestPublishableVersionPerLanguage, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.ForMediaItemsAttachUnversionedMedia, OneNorth.FieldMigrator" />
          </migrateItem>
          <createItem>
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.EnsureFoldersForMedia, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.ResolveParent, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceParentId="{00000000-0000-0000-0000-000000000000}" targetParentId="{00000000-0000-0000-0000-000000000000}" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.ResolveTemplate, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceTemplateId="{00000000-0000-0000-0000-000000000000}" targetTemplateId="{00000000-0000-0000-0000-000000000000}" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.CreateItem, OneNorth.FieldMigrator" />
          </createItem>
          <migrateVersion>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.EnsureLanguageVersion, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceLanguageName="" targetLanguageName="" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.BeginEdit, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.MigrateFields, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.ForMediaItemsAttachVersionedMedia, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.FinalizeWorkflow, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.EndEdit, OneNorth.FieldMigrator">
              <disableEvents>true</disableEvents>
            </processor>
          </migrateVersion>
          <migrateField>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.SkipFields, OneNorth.FieldMigrator">
              <fields hint="list:AddField">
                <field>Blob</field>
              </fields>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.SkipStandardFields, OneNorth.FieldMigrator">
              <exceptions hint="list:AddException">
                <field>__Display name</field>
                <field>__Hidden</field>
                <field>__Hide version</field>
                <field>__Never publish</field>
                <field>__Sortorder</field>
                <field>__Valid from</field>
                <field>__Valid to</field>
              </exceptions>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.ResolveField, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceFieldId="{00000000-0000-0000-0000-000000000000}" sourceTemplateIds="" targetFieldId="{00000000-0000-0000-0000-000000000000}"  />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.CopyValue, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.ProcessMedia, OneNorth.FieldMigrator" />
          </migrateField>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
