<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldmigrator type="OneNorth.FieldMigrator.Configuration.FieldMigratorConfiguration, OneNorth.FieldMigrator">
      <sourceEndpointAddress>http://sidley/sitecore/shell/webservice/service2.asmx</sourceEndpointAddress>
      <sourceDatabase>master</sourceDatabase>
      <sourceUserName>sitecore\admin</sourceUserName>
      <sourcePassword>b</sourcePassword>
      <targetDatabase>master</targetDatabase>
      <targetUserName>sitecore\admin</targetUserName>
      <includeStandardFields hint="list:AddStandardField">
        <field>__Display name</field>
        <field>__Hidden</field>
        <field>__Hide version</field>
        <field>__Never publish</field>
        <field>__Sortorder</field>
        <field>__Valid from</field>
        <field>__Valid to</field>
      </includeStandardFields>
      <roots hint="raw:AddRoot">
        <!--<root name="Atlanta" id="{4AB9C7D7-7DF7-406C-AD2F-00086478AD66}" />-->
        <root name="Offices" id="{420087BC-717C-4178-B5ED-4C652153E75A}" />
        <!--<root name="Professionals" id="{B47F2DB2-835E-4444-BD03-0A45617CEBB4}" />-->
      </roots>
      <templates hint="raw:AddTemplate">
        <template name="Office" templateId="{C82727A4-5BA4-42CC-B06C-7AA17DD25044}" includeAllChildren="true" />
        <template name="Lawyer" templateId="{EDC84A99-541A-4544-B408-D276600C66F0}" includeAllChildren="true" />
        <template name="Staff" templateId="{0C275F5D-7873-44C8-AC00-A1CA8082B5F6}" includeAllChildren="true" />
        <template name="ProfessionalFolder" templateId="{70EE9EE9-D950-43AF-BDBF-A0EA4DAA598D}" includeAllChildren="false" />
      </templates>
    </fieldmigrator>
    <group groupName="OneNorth.Migrator" name="OneNorth.Migrator">
      <pipelines>
        <migrateItem>
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.CheckTemplate, OneNorth.FieldMigrator">
            <include hint="raw:AddInclude">
              <template name="Office" templateId="{C82727A4-5BA4-42CC-B06C-7AA17DD25044}" includeAllChildren="true" />
              <template name="Lawyer" templateId="{EDC84A99-541A-4544-B408-D276600C66F0}" includeAllChildren="true" />
              <template name="Staff" templateId="{0C275F5D-7873-44C8-AC00-A1CA8082B5F6}" includeAllChildren="true" />
              <template name="ProfessionalFolder" templateId="{70EE9EE9-D950-43AF-BDBF-A0EA4DAA598D}" includeAllChildren="false" />
            </include>
            <exclude hint="raw:AddExclude">
              <template name="name" templateId="{00000000-0000-0000-0000-000000000000}" />
            </exclude>
          </processor>
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.EnsureItem, OneNorth.FieldMigrator">
            <overrides hint="raw:AddOverride">
              <override name="name" source="{00000000-0000-0000-0000-000000000000}" target="{00000000-0000-0000-0000-000000000000}" />
            </overrides>
          </processor>
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.MigrateLatestLanguageVersions, OneNorth.FieldMigrator" />
        </migrateItem>
        <createItem>
          <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.ResolveParent, OneNorth.FieldMigrator">
            <overrides hint="raw:AddOverride">
              <override name="name" source="{00000000-0000-0000-0000-000000000000}" target="{00000000-0000-0000-0000-000000000000}" />
            </overrides>
          </processor>
          <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.ResolveTemplate, OneNorth.FieldMigrator">
            <overrides hint="raw:AddOverride">
              <override name="name" source="{00000000-0000-0000-0000-000000000000}" target="{00000000-0000-0000-0000-000000000000}" />
            </overrides>
          </processor>
          <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.CreateItem, OneNorth.FieldMigrator" />
        </createItem>
        <migrateVersion>
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.EnsureLanguageVersion, OneNorth.FieldMigrator" />
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.BeginEdit, OneNorth.FieldMigrator" />
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.MigrateFields, OneNorth.FieldMigrator" />
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.FinalizeWorkflow, OneNorth.FieldMigrator" />
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.EndEdit, OneNorth.FieldMigrator" />
        </migrateVersion>
        <migrateField>
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.SkipStandardFields, OneNorth.FieldMigrator">
            <exceptions hint="list:AddException">
              <field>__Display name</field>
              <field>__Hidden</field>
              <field>__Hide version</field>
              <field>__Never publish</field>
              <field>__Sortorder</field>
              <field>__Valid from</field>
              <field>__Valid to</field>
            </exceptions>
          </processor>
          <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.CopyFieldValue, OneNorth.FieldMigrator" />
        </migrateField>
      </pipelines>
    </group>
  </sitecore>
</configuration>
