<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <fieldmigrator type="OneNorth.FieldMigrator.Configuration.FieldMigratorConfiguration, OneNorth.FieldMigrator">
      <sourceEndpointAddress>http://sidley/sitecore/shell/webservice/service2.asmx</sourceEndpointAddress>
      <sourceDatabase>master</sourceDatabase>
      <sourceUserName>sitecore\admin</sourceUserName>
      <sourcePassword>b</sourcePassword>
      <targetDatabase>master</targetDatabase>
      <targetUserName>sitecore\admin</targetUserName>
      <roots hint="raw:AddRoot">
        <!--<root name="Offices" id="{420087BC-717C-4178-B5ED-4C652153E75A}" />-->
        <root name="Professionals" id="{B47F2DB2-835E-4444-BD03-0A45617CEBB4}" />
      </roots>
    </fieldmigrator>
    <pipelines>
      <group groupName="OneNorth.Migrator">
        <pipelines>
          <migrateItem>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.CheckItemTemplate, OneNorth.FieldMigrator">
              <includeMedia>true</includeMedia>
              <include hint="raw:AddInclude">
                <template name="Office" sourceTemplateId="{C82727A4-5BA4-42CC-B06C-7AA17DD25044}" includeAllDescendants="true" />
                <template name="Lawyer" sourceTemplateId="{EDC84A99-541A-4544-B408-D276600C66F0}" includeAllDescendants="true" />
                <template name="Staff" sourceTemplateId="{0C275F5D-7873-44C8-AC00-A1CA8082B5F6}" includeAllDescendants="true" />
                <template name="ProfessionalFolder" sourceTemplateId="{70EE9EE9-D950-43AF-BDBF-A0EA4DAA598D}" includeAllDescendants="false" />
              </include>
              <exclude hint="raw:AddExclude">
                <template name="name" sourceTemplateId="{00000000-0000-0000-0000-000000000000}" />
              </exclude>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.EnsureItem, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceItemId="{00000000-0000-0000-0000-000000000000}" targetItemId="{00000000-0000-0000-0000-000000000000}" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.MigrateLatestPublishableVersionPerLanguage, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateItem.ForMediaItemsAttachUnversionedMedia, OneNorth.FieldMigrator" />
          </migrateItem>
          <createItem>
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.EnsureFoldersForMedia, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.ResolveParent, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceParentId="{00000000-0000-0000-0000-000000000000}" targetParentId="{00000000-0000-0000-0000-000000000000}" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.ResolveTemplate, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceTemplateId="{00000000-0000-0000-0000-000000000000}" targetTemplateId="{00000000-0000-0000-0000-000000000000}" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.CreateItem.CreateItem, OneNorth.FieldMigrator" />
          </createItem>
          <migrateVersion>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.EnsureLanguageVersion, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceLanguageName="" targetLanguageName="" />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.BeginEdit, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.MigrateFields, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.ForMediaItemsAttachVersionedMedia, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.FinalizeWorkflow, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateVersion.EndEdit, OneNorth.FieldMigrator" />
          </migrateVersion>
          <migrateField>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.SkipFields, OneNorth.FieldMigrator">
              <fields hint="list:AddField">
                <field></field>
              </fields>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.SkipStandardFields, OneNorth.FieldMigrator">
              <exceptions hint="list:AddException">
                <field>__Display name</field>
                <field>__Hidden</field>
                <field>__Hide version</field>
                <field>__Never publish</field>
                <field>__Sortorder</field>
                <field>__Valid from</field>
                <field>__Valid to</field>
              </exceptions>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.ResolveField, OneNorth.FieldMigrator">
              <overrides hint="raw:AddOverride">
                <override name="name" sourceFieldId="{00000000-0000-0000-0000-000000000000}" sourceTemplateIds="" targetFieldId="{00000000-0000-0000-0000-000000000000}"  />
              </overrides>
            </processor>
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.CopyValue, OneNorth.FieldMigrator" />
            <processor type="OneNorth.FieldMigrator.Pipelines.MigrateField.ProcessMedia, OneNorth.FieldMigrator" />
          </migrateField>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
